.home {
  height: 600px;
  width: 100%;
  position: relative;
  background-image: url('../../../assets/images/banner/banner_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;


  .home_bg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .home_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 108px;
    position: relative;
    gap: 269px;

    .phone {
      right: 288px;
      top: 0;
    }
  }

}