<section class="descriptions">
  <div class="descriptions_container">
    <mat-card class="card" [ngClass]="{'active': activeCard === i +1}" *ngFor="let card of descriptionsData;index as i"
      (mouseenter)="choiceCard(i+1)">
      <mat-card-header class="card_header">
        <mat-icon [svgIcon]="card.icon"></mat-icon>
      </mat-card-header>
      <mat-card-content class="card_content">
        <h3 [innerHTML]="card.title"></h3>
        <p [innerHTML]="card.desc"></p>
      </mat-card-content>
      <mat-card-actions class="card_actions">
        <a [href]="card.link" [innerHTML]="card.button"></a>
        <mat-icon svgIcon="arrow"></mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</section>