<section class="banner">
  <div class="home">
    <app-header></app-header>
    <div class="home_bg">
      <img src="../../../assets/images/banner/banner.svg" alt="icon">
    </div>
    <div class="home_content">
      <div class="content">
        <h1 class="content_title" [innerHTML]="'header.headerBanner.title' | translate"></h1>
        <p class="content_description" [innerHTML]="'header.headerBanner.content' | translate"></p>
      </div>
      <div class="phone">
        <img src="../../../assets/images/banner/phone.png" alt="phone">
      </div>
    </div>
  </div>
  <div class="banner_footer"></div>
</section>